/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.felx-row{
  display: flex;
  height: calc(100vh - 75px);
}

body{
  font-size: 12px;
}

li{
  list-style: none;
}

.m-left{
  margin-left: 40px;
}
@media screen and (max-width: 450px) {
  .m-left{
    margin-left: 15px;
  }
}

h2{
  font-size: 2rem;
  color: #ffff;
  padding-left: 10px;
  margin-bottom: 5px;
}
.subtitle{
  font-size: 0.8rem;
  color: #808080;
}
.description{
  display: block;
  padding-left: 10px;
  padding-bottom: 15px;
  font-size: 0.85rem;
  color: #808080;
}

/* regole nav */
nav{
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 250px;
  height: calc(100vh - 75px);
  background-color: #000000;
}
@media screen and (max-height: 700px){
  nav{
    overflow-y: scroll;
  }
}
/* hover nav */
.nav-hover:hover,
.nav-hover:hover a,
.hover-main:hover a{
  color: #ffff;
}

/* nav logo */
nav .logo-md{
  width: 180px;
  height: auto;
  margin-bottom: 20px;
  padding: 10px 0 0 10px;
}

.logo-xs{
  width: 2rem;
  height: auto;
  display: none;
}

@media screen and (max-width: 700px) {
  nav{
    width: 60px;
    align-items: center;
  }

  nav .logo-md{
    display: none;
  }

  .logo-xs{
    display: block;
    color: #ffff;
    margin-top: 20px;
  }
}

/* nav sezioni */
nav .sezioni > ul{
  font-size: 1.1rem;
  margin-bottom: 25px;
}

.sezioni ul > li{
  display: flex;
  height: 45px;
  align-items: center;
  padding-left: 10px;
}

#home a{
  color: #ffff;
}
#home{
  border-left: 3px solid #adff2f;
}

.sezioni li > a > img{
  width: 35px;
  height: auto;
  margin-right: 10px;
  vertical-align: middle;
}

.sezioni li > a{
  text-decoration: none;
  vertical-align: middle;
  color: grey;
}

@media screen and (max-width: 700px){
  .sezioni{
    flex-grow: 1;
    padding-top: 20px;
  }
  .sezioni ul > li{
    height: 40px;
    padding-left: 0;
  }
  .sezioni li > a > span{
    display: none;
  }
  .sezioni li > a > img{
    margin-right: 0;
  }
  #home{
    border-left:none;
  }
}

/* nav playlist */
nav .container-playlist{
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 10px;
  flex-shrink: 1;
}

nav h3{
  color: #ffff;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.create.playlist a{
  font-size: 1rem;
}

.create.playlist i{
  font-size: 2.5rem;
  margin-right: 5px;
  vertical-align: middle;
}
.create.playlist a{
  font-weight: bold;
}

nav .scroll{
  min-height: 30px;
  overflow-y: auto;
  flex-grow: 1;
  font-size: 1rem;
  padding-left: 10px;
}

.playlist{
  margin: 10px 0;
}
.playlist a{
  color: grey;
  text-decoration: none;
}

@media screen and (max-width: 700px){
  nav .container-playlist,
  nav .scroll{
    display: none;
  }
}

/* regole account */
.account{
  padding: 10px;
}

.account li{
  display: flex;
  align-items: center;
  height: 40px;
}

.account li:first-child{
  border-bottom: 1px solid #ffff;
  padding-bottom: 10px;
}

.account li:last-child{
  padding-top: 10px;
}

.account ul li > a{
  font-size: 1rem;
  color: grey;
  text-decoration: none;
}
.account ul li:last-child{
  font-size: 1rem;
  color:#ffff;
}
.account img{
  width: 1.1rem;
  margin-right:10px;
  vertical-align: middle;
}

.account .profile{
  width: 1.5rem;
  border-radius: 50%;
  background-color: grey;
}

.account span{
  vertical-align: middle;
}

@media screen and (max-width: 700px){
  .account img{
    margin: 0;
  }
  .account li > a > span{
    display: none;
  }
  .account li > span{
    display: none;
  }
  .account li:first-child{
    border: none;
  }
  .account .profile{
    margin-bottom: 15px;
  }
}

/* regole main */
main{
  height: 100%;
  flex-grow: 1;
  overflow-y: scroll;

  background-color: rgb(20, 25, 34);
}
@media screen and (max-width: 700px) {
  main{
    width: calc(100% - 60px);
  }
}

/* regole upgrade */
main section:first-child{
  position: fixed;
  top: 0;
  z-index: 199;
  width: calc(100% - 250px);
}
main .upgrade{
  width:100%;
  height: 90px;
  background-color: rgba(8,11,18, 0.6);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
}

main .upgrade button{
width: 180px;
height: 30px;
background-color: rgba(8,11,18, 0.6);
border-radius: 20px;
margin-right: 20px;
transition: 1s;
color:#ffff;
font-size: 1rem;
}

main .upgrade button:hover{
  transform: scale(1.2);
  cursor: pointer;
}

@media screen and (max-width: 700px){
  main section:first-child{
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 400px){
  main .upgrade button{
    width: 120px;
    height: 20px;
    font-size: 0.6rem;
  }
}
@media screen and (max-height: 400px){
  main .upgrade{
    display: none;
  }
}
/* regole section contenuti */

main .contenuti{
  width: 100%;
  height: auto;
  padding-top: 100px;
}
main .contenuti ul{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}
.contenuti ul li{
  font-size: 0.8rem;
  margin-right: 20px;
}
.contenuti ul li > a{
  color:grey;
  text-decoration: none;
}
.contenuti ul li > hr{
width: 40px;
margin:  5px auto;
color: #adff2f;
}

@media screen and (max-width: 700px){
  .contenuti ul li{
    margin-bottom: 5px;
  }
  main .contenuti{
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* regole contenuti multimediali */
.container-card{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.container-card > .container-wrap{
  display: flex;
  flex-wrap: wrap;
}
.container-card .card img{
  width: 100%;
  height: auto;
}

.album{
  padding: 10px;
  width: 210px;
  margin-right: 20px;
}
.album div:first-child{
  width: 100%;
  position: relative;
}

.overlay{
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.card div:first-child:hover .overlay{
  display: block;
}
.album .play{
  font-size: 4rem;
  color:#ffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main h3, .subtitle{
  display: block;
  text-align: center;
}

main h3{
  font-size: 1rem;
  color:#ffff;
  padding: 5px 0;
}

/* recently */
.recently-played{
  margin-top: 25px;
}

/* artisti popolari */
.artisti-popolari img{
  border-radius: 50%;
}
.artisti-popolari .overlay{
  border-radius: 50%;
}
/* regole player */
#player{
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  z-index: 9999;
  background-color: #282828;
}
#player [class*="fas"]{
  color: #ffff;
}
#player [class*="fa-"]{
  cursor: pointer;
}

/* left */
.player-left{
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.player-left img{
  width: 35px;
  height: auto;
  margin-right: 7px;
}
.title-song{
  margin-right: 20px;
}

.title-song h4{
  font-size: 0.8rem;
  color:#ffff;
}
.title-song span > a{
  font-size: 0.65rem;
  color: #808080;
  text-decoration: none;
}
.title-song span > a:hover{
  text-decoration: underline;
  color:#ffff;
}

.icon span{
  font-size: 0.9rem;
  color:#808080;
}
#player .icon > span:first-child{
  margin-right: 3px;
}
#player .icon > span:hover{
  color:#ffff;
}

/* center */
.player-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.player-center .commands > ul{
  width: 160px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 13px;
}
.commands ul > li{
  font-size: 0.8rem;
}
.commands .fa-play-circle{
  font-size: 1.4rem;
  color:#ffff;
}
.commands .fa-play-circle:hover{
  transform: scale(1.2);
}

.time{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.time span{
  color:#ffff;
}
.line-time{
  width: 37%;
  height: 0.2rem;
  background-color: #ffff;
  position: relative;
  margin: 0 10px;
}
.time-passed{
  width: 25%;
  height: 0.2rem;
  background-color: #808080;
}
.line-time:hover .time-passed,
.line-range:hover .current-range{
  background-color: #adff2f;
}

/* pointer center e right */
.pointer{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #ffff;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  display: none;
}
.line-time:hover .pointer{
  display: block;
}
.line-range:hover .pointer{
  display: block;
}

/* right */
.player-right{
  display: flex;
  align-items: center;
}
.player-right > ul{
  display: flex;
}
.player-right > ul > li{
padding-right: 8px;
}
.player-right > ul > li:last-child{
}

.range{
  width: 95px;
}
.line-range{
  width: 90%;
  height: 0.2rem;
  background-color: #ffff;
  position: relative;
}
.current-range{
  width: 25%;
  height: 0.2rem;
  background-color: #808080;
}

.range .pointer{
  width: 0.7rem;
  height: 0.7rem;
}
